<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #012a4a;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

<div class="bg-image d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-white opacity-card">
                    <div class='card-header'>
                        <div class="row">
                            <div class="col-md-6 offset-md-5">
                                <h5 class="text-green lead font-weight-bold">Login</h5>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="container align-content-center">
                            <form>
                                <div class="form-group">
                                    <label for="emailLogin">E-mail/Username</label>
                                    <input type="text" class="form-control input-info" id="emailLogin" placeholder="E-mail/Username">
                                </div>
                                <div class="form-group">
                                    <label for="senhaInput">Senha</label>
                                    <input type="password" class="form-control input-info" id="senhaInput" placeholder="Senha">
                                </div>
                            </form>
                            <button type="submit" class="btn btn-block btn-info mb-2">Login</button>
                            <a routerLink="/registro" class="font-weight-bold mb-2">Não tem conta? Cadastre-se</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>