<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #012a4a;">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="../../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

<div class="bg-image d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-white opacity-card">
                    <div class='card-header'>
                        <div class="row">
                            <div class="col-md-6 offset-md-5">
                                <h5 class="text-green lead font-weight-bold">Login</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container align-content-center">
                            <form #loginform="ngForm">
                                <div class=" form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" #username="ngModel" ngModel required class="form-control " placeholder="Username ">
                                </div>
                                <div class="form-group">
                                    <label for="senhaInput ">Senha</label>
                                    <input type="password" name="senha " #senha="ngModel" ngModel required class="form-control " placeholder="Senha ">
                                </div>
                            </form>
                            <button type="button" class="btn btn-block btn-outline-info" [disabled]=" !loginform.valid ">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>