<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #012a4a;">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

<div class="bg-image d-flex align-items-center">
    <div class="container">
        <div class="row-md-9"></div>">
        <div class="col-md-9 offset-md-2">
            <div class="card text-white opacity-card">
                <div class='card-header'>
                    <div class="row">
                        <div class="col-md-15 offset-md-5">
                            <h4 class="text-green font-weight-bold">Cadraste-se</h4>
                        </div>
                        <div class="col-md-9 offset-md-3">
                            <h5 class="font-weight-bold">Preencha os campos para se cadastrar</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form #form="ngForm" novalidate>
                            <div class="form-row">
                                <div class="form-group col-md-6 has-feedback" [class.has-success]="username.valid && (username.dirty || username.touched)" [class.has-error]="!username.valid  && (username.dirty || username.touched)">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" #username="ngModel" ngModel required class="form-control" placeholder="Username">
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    <span class="help-block" *ngIf="!username.valid && (username.dirty || username.touched)"> <i class="fa fa-remove"></i> Ops</span>
                                    <span class="help-block" *ngIf="username.valid && (username.dirty || username.touched)"> <i class="fa fa-check"></i> Ok</span>
                                </div>

                                <div class="form-group col-md-6 has-feedback" [class.has-success]="estado.valid && (estado.dirty || estado.touched)" [class.has-error]="!estado.valid  && (estado.dirty || estado.touched)">
                                    <label for="estado ">Estado</label>
                                    <input type="text" name="estado" #estado="ngModel" ngModel required class="form-control" placeholder="Estado">
                                    <span class="help-block" *ngIf="!estado.valid  && (estado.dirty || estado.touched)"> <i class="fa fa-remove"></i> Ops</span>
                                    <span class="help-block" *ngIf="estado.valid && (estado.dirty || estado.touched) "> <i class="fa fa-check "></i> Ok</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 has-feedback" [class.has-success]="cidade.valid && (cidade.dirty || cidade.touched)" [class.has-error]="!cidade.valid && (cidade.dirty || cidade.touched)">
                                    <label for="cidade ">Cidade</label>
                                    <input type="text" name="cidade" #cidade="ngModel" ngModel required class="form-control" placeholder="Cidade">
                                    <span class="help-block" *ngIf="!cidade.valid && (cidade.dirty || cidade.touched)"> <i class="fa fa-remove"></i> Ops</span>
                                    <span class="help-block" *ngIf="cidade.valid && (cidade.dirty || cidade.touched)"> <i class="fa fa-check "></i> Ok</span>
                                </div>

                                <div class="form-group col-md-6 has-feedback" [class.has-success]="email.valid && (email.dirty || email.touched)" [class.has-error]="!email.valid && (email.dirty || email.touched)">
                                    <label for="email">E-mail</label>
                                    <input type="email" name="email" #email="ngModel" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="Email">
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                    <span class="help-block" *ngIf="!email.valid && (email.dirty || email.touched)"> <i class="fa fa-remove"></i> Ops</span>
                                    <span class="help-block" *ngIf="email.valid && (email.dirty || email.touched)"> <i class="fa fa-check"></i> Ok</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 has-feedback" [class.has-success]="senha.valid && (senha.dirty || senha.touched)" [class.has-error]="!senha.valid && (senha.dirty || senha.touched)">
                                    <label for="username">Senha (8 digitos)</label>
                                    <input type="password" name="senha" #senha="ngModel" ngModel required minlength="8" class="form-control" placeholder="Senha">
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    <span class="help-block" *ngIf="!senha.valid && (senha.dirty || senha.touched)"> <i class="fa fa-remove"></i> Ops</span>
                                    <span class="help-block" *ngIf="senha.valid && (senha.dirty || senha.touched)"> <i class="fa fa-check"></i> Ok</span>
                                </div>

                                <div class="form-group col-md-6 has-feedback" [class.has-success]="resenha.valid && (resenha.dirty || resenha.touched)" [class.has-error]="!resenha.valid && (resenha.dirty || resenha.touched)">
                                    <label for="username">Repita a sua senha</label>
                                    <input type="password" name="resenha" #resenha="ngModel" ngModel required minlength="8" class="form-control" placeholder="Repita a sua senha">
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    <span class="help-block" *ngIf="form.value.senha !== form.value.resenha"> <i class="fa fa-remove"></i> As senhas não são iguais</span>
                                    <span class="help-block" *ngIf="!resenha.valid && (resenha.dirty || resenha.touched)"> <i class="fa fa-remove"></i> Ops</span>
                                    <span class="help-block" *ngIf="resenha.valid && (resenha.dirty || resenha.touched)"> <i class="fa fa-check"></i> Ok</span>
                                </div>
                            </div>
                            <button [disabled]="isButtonDisabled(form, form.value.senha,form.value.resenha)" (click)="cadastrar(form.value) " type="submit " class="btn btn-block btn-outline-info">Cadastrar-se</button>
                            <a class="text-center font-weight-bold" routerLink="/login">Já tem conta? Entre aqui</a><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>