<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #012a4a;">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

<div class="bg-image d-flex align-items-center">
    <div class="container">
        <div class="row-md-9"></div>">
        <div class="col-md-9 offset-md-2">
            <div class="card text-white opacity-card">
                <div class='card-header'>
                    <div class="row">
                        <div class="col-md-15 offset-md-5">
                            <h4 class="text-green font-weight-bold">Cadraste-se</h4>
                        </div>
                        <div class="col-md-9 offset-md-3">
                            <h5 class="font-weight-bold">Preencha os campos para se cadastrar</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form ngForm #form="ngForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" #username="ngModel" ngModel required class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="pais">País</label>
                                    <select name="pais" #pais="ngModel" ngModel required class="form-control">
                                        <option selected>Brasil...</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="estado">Estado</label>
                                    <select name="estado" #estado="ngModel" ngModel required class="form-control">
                                        <option selected>Estado...</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="cidade">Cidade</label>
                                    <select name="cidade" #cidade="ngModel" ngModel required class="form-control">
                                        <option selected>Cidade...</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="email">E-mail</label>
                                    <input type="text" name="email" #email="ngModel" ngModel required class="form-control" placeholder="E-mail">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="senha">Senha</label>
                                    <input type="password" name="senha" #senha="ngModel" ngModel required class="form-control" placeholder="Senha">
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-block btn-outline-info" [disabled]=" !form.valid " (click)="addUsuario(form.value)">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>