<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #012a4a;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

<div class="bg-image d-flex align-items-center">
    <div class="container">
        <div class="row-md-9"></div>">
        <div class="col-md-9 offset-md-2">
            <div class="card text-white opacity-card">
                <div class='card-header'>
                    <div class="row">
                        <div class="col-md-15 offset-md-5">
                            <h4 class="text-green font-weight-bold">Cadraste-se</h4>
                        </div>
                        <div class="col-md-9 offset-md-3">
                            <h5 class="font-weight-bold">Preencha os campos para se cadastrar</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="usernameInput">Username</label>
                                    <input type="text" class="form-control input-info" id="usernameInput" placeholder="Username">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="paisInput">País</label>
                                    <select id="paisInput" class="form-control">
                                        <option selected>Brasil...</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="estadoInput">Estado</label>
                                    <select id="estadoInput" class="form-control">
                                        <option selected>Estado...</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="cidadeInput">Estado</label>
                                    <select id="cidadeInput" class="form-control">
                                        <option selected>Cidade...</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="emailInput">E-mail</label>
                                    <input type="text" class="form-control input-info" id="emailInput" placeholder="E-mail">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="senhaInput">Senha</label>
                                    <input type="password" class="form-control" id="senhaInput" placeholder="Senha">
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-block btn-outline-info mb-2">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>