<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #012a4a;">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="../../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>

        <div class="float-right">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-2">
                        <button routerLink="/login" class="btn btn-outline-info btn-md" type="submit">Login</button>
                    </li>
                    <li class="nav-item px-2">
                        <button routerLink="/registro" class="btn btn-outline-info btn-md" type="submit">Cadastre-se</button>
                    </li>
                    <li class="nav-item px-2">
                        <button routerLink="/equipe" class="btn btn-info btn-md" type="submit">Equipe</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="my-card">
    <div class="container align-items-center mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/julia.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Júlia Daniele Moreira da Silva</h5>
                        <p class="card-text">Formada em Engenharia Biomédica hoje retorna ao Inatel para se graduar Engenharia da Computação</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/julia.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mateus Rocha de Carvalho Alves</h5>
                        <p class="card-text">Fazer textinho</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>