<button id="info" class="fixed-button wobble" data-toggle="modal" data-target=".bd-example-modal-lg">  
    <i class="fa fa-info fa-2x"></i>
</button>



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-subtitle text-center text-info " id="exampleModalLongTitle">Formatos</h4>
                <button id="close" type="button" class="close " data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true ">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="modal-subtitle text-center text-info ">CONSTRUÍDO</h5>
                <hr>
                <h5>Padrão</h5>
                <p>Padrão é um formato com rotações no qual você constrói decks utilizando cards das coleções mais recentes de Magic. O estilo de jogo em constante desenvolvimento e as novas estratégias fazem dele um dos modos mais populares de se jogar
                    em casa e em eventos como o Friday Night Magic.</p>
                <hr>

                <h5>Moderno</h5>
                <p>Moderno é um formato construído. *regras no ultimo topico.</p>
                <hr>

                <h5>Commander</h5>
                <p>O Commander é um formato único e empolgante de Magic que dá foco a criaturas lendárias, grandes jogadas e duelos épicos com seus amigos em partidas com vários participantes! No Commander, cada jogador escolhe uma criatura lendária como
                    comandante do seu deck. O deck tem 99 cards somente nas cores do seu comandante. Além disso, cada deck só pode utilizar uma cópia de cada card, além de terrenos básicos. Durante o jogo, você pode conjurar seu comandante várias vezes
                    - ou seja, sua Criatura Lendária pode voltar e liderar a investida em sua batalha pela vitória!</p>
                <hr>

                <h5>Legado</h5>
                <p>Legado é um formato construído. *regras no ultimo topico.</p>
                <hr>

                <h5>Vintage</h5>
                <p>Os decks Vintage podem conter cards de qualquer coleção de Magic, qualquer coleção básica e todas as coleções especiais, suplementos e cards promocionais lançados pela Wizards of the Coast.</p>
                <p>Vintage é um formato construído. *regras no ultimo topico.</p>
                <hr>

                <h5>Brawl</h5>
                <p>Brawl tem um pouco de Padrão, e um pouco de Commander, e é um desafio único e empolgante de criação de decks. Construa um deck ao redor de uma criatura lendária ou planeswalker do Padrão e batalhe contra amigos em duelos um contra um ou
                    em jogos multijogador cada um por todos.</p>
                <ul>
                    <li>1 card de comandante (qualquer criatura lendária ou planeswalker de uma coleção atualmente no Padrão).</li>
                    <li>59 outros cards (também de coleções atualmente no Padrão)</li>
                    <li>Apenas uma cópia de cada card, exceto por terrenos básicos</li>
                </ul>
                <p>A identidade de cor de todos os cards em seu deck deve estar dentro da identidade de cor de seu comandante (identidade de cor engloba símbolos coloridos de mana tanto no custo do card quanto em seu texto de regras — por exemplo, a identidade
                    de cor de Shalai, Voz da Abundância, é verde-branco).</p>
                <i>Exceção: se o seu comandante é incolor, você pode usar cópias ilimitadas de um tipo qualquer de terreno básico.</i>
                <hr>

                <h5>Gigante de Duas Cabeças</h5>
                <p>Gigante de Duas Cabeças é um formato divertido para vários jogadores no qual equipes de dois jogadores batalham uma contra a outra. Cada equipe decide suas ações junta, não individualmente.</p>
                <p>Gigante de Duas Cabeças tem algumas regras que são diferentes de outros formatos para vários jogadores</p>
                <hr>

                <h5>Bloco</h5>
                <p>O jogo em bloco requer um deck construído (regras no ultimo topico), que deve conter no mínimo sessenta cards. Todos os cards no deck precisam ser de um único bloco de Magic. Portanto, se você estiver jogando um jogo no formato bloco de
                    Theros, todos os seus cards devem vir do bloco Theros.</p>
                <hr>

                <h5>Pioneiro</h5>
                <p>Pioneiro — Um novo formato sem rotação com cards a partir de Retorno a Ravnica. O Pioneiro é um formato construído. *regras no ultimo topico.</p>
                <hr>

                <h5>Formato Contruído</h5>
                <p> Segue as seguintes regras de formatos construídos:</p>
                <ul>
                    <li>Mínimo de sessenta cards</li>
                    <li>Sem tamanho máximo de deck, contanto que você consiga embaralhar sem ajuda</li>
                    <li>Até quinze cards na reserva, se for usada</li>
                </ul>
                <p> Com exceção dos terrenos básicos (Planícies, Ilhas, Pântanos, Montanhas e Florestas), seu deck e sua reserva juntos não podem conter mais de quatro cards iguais, contando pelo título do card em inglês.</p>
                <i>Nota: Os cinco terrenos da neve do bloco Era Glacial: Planície da Neve, Ilha da Neve, Pântano da Neve, Montanha da Neve e Floresta da Neve também são terrenos básicos. Os terrenos da neve só são permitidos em formatos que permitam expansões do bloco
                Era Glacial.</i>
                <hr>

                <h5 class="modal-subtitle text-center text-info ">LIMITADO</h5>
                <p>Diferentemente dos formatos construídos nos quais você chega com decks preparados cuidadosamente e prontos para jogar, os formatos limitados permitem construir um deck com novos cards como parte do jogo.</p>
                <hr>
                <h5>Booster Draft</h5>
                <p>No início do booster draft, cada jogador abre um booster e escolhe um card (não mostre aos outros jogadores qual você escolheu!). Depois, cada um passa o resto do pacote para o jogador à esquerda, cada jogador pega um card do pacote recebido
                    e passa novamente. Esse processo continua até todos os cards do pacote terem sido escolhidos. Então, cada jogador abre um segundo pacote, mas desta vez, eles passam para a direita. Depois que todos os cards forem escolhidos, você faz
                    o mesmo com o terceiro pacote, passando para a esquerda novamente.</p>
                <p>Depois que todos os boosters tiverem sido distribuídos, todos constroem seus decks com os cards que tiverem selecionado. Você pode adicionar quantos terrenos básicos (Planícies, Ilhas, Pântanos, Montanhas e Florestas) quiser ao seu deck,
                    mas cada deck precisa ter pelo menos 40 cards.</p>
                <hr>

                <h5>Deck Selado</h5>
                <p>As regras exigem que você construa um deck com um mínimo de 40 cards, mas podem ser adicionados quantos terrenos básicos você quiser (Planícies, Ilhas, Pântanos, Montanhas e Florestas), mesmo que eles não estejam nos boosters que você
                    abriu.
                </p>
                <hr>

                <h5>Conspiracy</h5>
                <p>Haverá um total de três rodadas nas quais você seleciona cards. Cada rodada começa com cada jogador abrindo um booster. Cada jogador analisa seu booster e seleciona um card para si. Depois, cada jogador passa os cards restantes com a face
                    voltada para baixo para o jogador seguinte. Isso continua até que todos os cards tenham sido escolhidos.</p>
                <hr>

                <h5>Selado de Equipe</h5>
                <p>O Deck Selado de Equipe combina a diversão do formato Deck Selado com mais dois amigos, permitindo que você construa poderosos decks de 40 cards para serem usados em um formato de equipe empolgante!
                </p>
                <p>Diferentemente do Deck Selado individual, que desafia você a construir um deck de 40 cards a partir de seis boosters, o Deck Selado de Equipe desafia equipes de três jogadores a construírem três decks usando doze boosters, um deck para
                    cada membro da equipe.</p>
                <p>Depois, os jogadores enfrentam a equipe adversária com seus decks. Quando dois dos jogadores de uma equipe vencerem suas partidas individuais, a equipe vence.</p>
            </div>
        </div>
    </div>
</div>