<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #012a4a;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

<div class="bg-image d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-white opacity-card">
                    <div class='card-header'>
                        <div class="row">
                            <div class="col-md-6 offset-md-5">
                                <h5 class="text-green lead font-weight-bold">Nova Partida</h5>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="container align-content-center">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="formatoPartida">Formato</label>
                                        <input type="text" class="form-control input-info" id="formatoPartida" placeholder="Formato do Baralho">
                                    </div>
                                    <div class="form-group">
                                        <label for="formatoPartida">Vitórias</label>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="resultadoPartida">Resultado</label>
                                        <input type="text" class="form-control input-info" id="resultadoPartida" placeholder="Ganhou ou perdeu?">
                                    </div>
                                    <div class="form-group">
                                        <label for="formatoPartida">Derrotas</label>

                                    </div>
                                </div>
                            </form>
                            <button type="submit" class="btn btn-block btn-info mb-2">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>