<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #012a4a;">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

<div class="bg-image d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-white opacity-card">
                    <div class='card-header'>
                        <div class="row">
                            <div class="col-md-6 offset-md-5">
                                <h5 class="text-green lead font-weight-bold">Login</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container align-content-center">
                            <form #form="ngForm">
                                <div class="form-group has-feedback" [class.has-success]="username.valid && (username.dirty || username.touched)" [class.has-error]="!username.valid  && (username.dirty || username.touched)">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" #username="ngModel" ngModel required class="form-control" placeholder="Username">
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    <span class="help-block" *ngIf="!username.valid && (username.dirty || username.touched)"> <i class="fa fa-remove"></i> Ops</span>
                                    <span class="help-block" *ngIf="username.valid && (username.dirty || username.touched)"> <i class="fa fa-check"></i> Ok</span>
                                </div>
                                <div class="form-group has-feedback" [class.has-success]="senha.valid && (senha.dirty || senha.touched)" [class.has-error]="!senha.valid && (senha.dirty || senha.touched)">
                                    <label for="username">Senha (8 digitos)</label>
                                    <input type="password" name="senha" #senha="ngModel" ngModel required minlength="8" class="form-control" placeholder="Senha">
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    <span class="help-block" *ngIf="!senha.valid && (senha.dirty || senha.touched)"> <i class="fa fa-remove"></i> Ops</span>
                                    <span class="help-block" *ngIf="senha.valid && (senha.dirty || senha.touched)"> <i class="fa fa-check"></i> Ok</span>
                                </div>
                                <button [disabled]="!form.valid" (click)="login(form.value)" type="submit" class="btn btn-block btn-outline-info">Login</button>
                            </form>
                            <hr>
                            <a class="text-center" routerLink="/registro">Não tem conta? Cadastre-se</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>