.bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),url('../../assets/img/principal.jpg');
    height: 100vh;
    background-position:top; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: 100%; /* Resize the background image to cover the entire container */ 
    background-attachment: fixed;

}

.opacity-card{
    opacity : 0.4;
    height: 200px;
    width: 300px; 
}

.card-deck{
    padding-top: 80px;    
}

.text-title{
    color: #fdfdfd; 
    text-shadow: 0.1em 0.1em #014a40;
    font-size: x-large;
}