<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:  #012a4a;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>

        <div class="float-right ">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-auto mt-auto">
                        <button class="btn btn-outline-info btn-md" type="submit">Novo Baralho</button>
                    </li>
                    <li class="nav-item px-2 mt-auto">
                        <button class="btn btn-outline-info btn-md" type="submit">#nomeUsuario</button>
                    </li>
                    <li class="nav-item px-2 mt-auto">
                        <img src="../../assets/img/user_image.jpg" width="180" height="30"
                            class="d-inline-block align-text-top user-image">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="bg-image">
    <div class="card-deck">
        <div class="container align-items-end mt-1">
            <div class="row p-md-2 m-auto">
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img class="card-img opacity-card" src="../../assets/img/bl/img01.jpg" alt="Imagem do card">
                        <div class="card-img-overlay text-justify table-responsive">
                            <h5 class="card-title text-center text-title">Nome do Baralho</h5>
                            <label for="User">Click me</label>
                            <input type="text" id="User" name="Name" />
                            <table class="table table-sm text-center">
                                <thead>
                                    <tr class="card-text text-white font-weight-bolder ">
                                        <th scope="col">WINRATE</th>
                                        <th scope="col">MATCHES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-white">
                                        <td>80%</td>
                                        <td>10-2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="dados" class="btn btn-outline-info btn-sm btn-block"
                                type="submit">Dados</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img class="card-img opacity-card" src="../../assets/img/bl/img02.jpg" alt="Imagem do card">
                        <div class="card-img-overlay text-justify table-responsive">
                            <h5 class="card-title text-center text-title">Nome do Baralho</h5>
                            <table class="table table-sm text-center">
                                <thead>
                                    <tr class="card-text text-white font-weight-bolder ">
                                        <th scope="col">WINRATE</th>
                                        <th scope="col">MATCHES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-white">
                                        <td>80%</td>
                                        <td>10-2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="dados" class="btn btn-outline-info btn-sm btn-block"
                                type="submit">Dados</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img class="card-img opacity-card" src="../../assets/img/bl/img03.jpg" alt="Imagem do card">
                        <div class="card-img-overlay text-justify table-responsive">
                            <h5 class="card-title text-center text-title">Nome do Baralho</h5>
                            <table class="table table-sm text-center">
                                <thead>
                                    <tr class="card-text text-white font-weight-bolder ">
                                        <th scope="col">WINRATE</th>
                                        <th scope="col">MATCHES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-white">
                                        <td>80%</td>
                                        <td>10-2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="dados" class="btn btn-outline-info btn-sm btn-block"
                                type="submit">Dados</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-md-2">
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img class="card-img opacity-card" src="../../assets/img/bl/img04.jpg" alt="Imagem do card">
                        <div class="card-img-overlay text-justify table-responsive">
                            <h5 class="card-title text-center text-title">Nome do Baralho</h5>
                            <table class="table table-sm text-center">
                                <thead>
                                    <tr class="card-text text-white font-weight-bolder ">
                                        <th scope="col">WINRATE</th>
                                        <th scope="col">MATCHES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-white">
                                        <td>80%</td>
                                        <td>10-2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="dados" class="btn btn-outline-info btn-sm btn-block"
                                type="submit">Dados</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img class="card-img opacity-card" src="../../assets/img/bl/img05.jpg" alt="Imagem do card">
                        <div class="card-img-overlay text-justify table-responsive">
                            <h5 class="card-title text-center text-title">Nome do Baralho</h5>
                            <table class="table table-sm text-center">
                                <thead>
                                    <tr class="card-text text-white font-weight-bolder ">
                                        <th scope="col">WINRATE</th>
                                        <th scope="col">MATCHES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-white">
                                        <td>80%</td>
                                        <td>10-2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="dados" class="btn btn-outline-info btn-sm btn-block"
                                type="submit">Dados</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img class="card-img opacity-card" src="../../assets/img/bl/img06.jpg" alt="Imagem do card">
                        <div class="card-img-overlay text-justify table-responsive">
                            <h5 class="card-title text-center text-title">Nome do Baralho</h5>
                            <table class="table table-sm text-center">
                                <thead>
                                    <tr class="card-text text-white font-weight-bolder ">
                                        <th scope="col">WINRATE</th>
                                        <th scope="col">MATCHES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-white">
                                        <td>80%</td>
                                        <td>10-2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="dados" class="btn btn-outline-info btn-sm btn-block"
                                type="submit">Dados</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-md-2">
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img class="card-img opacity-card" src="../../assets/img/bl/img01.jpg" alt="Imagem do card">
                        <div class="card-img-overlay text-justify table-responsive">
                            <h5 class="card-title text-center text-title">Nome do Baralho</h5>
                            <table class="table table-sm text-center">
                                <thead>
                                    <tr class="card-text text-white font-weight-bolder ">
                                        <th scope="col">WINRATE</th>
                                        <th scope="col">MATCHES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-white">
                                        <td>80%</td>
                                        <td>10-2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="dados" class="btn btn-outline-info btn-sm btn-block"
                                type="submit">Dados</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img class="card-img opacity-card" src="../../assets/img/bl/img06.jpg" alt="Imagem do card">
                        <div class="card-img-overlay text-justify table-responsive">
                            <h5 class="card-title text-center text-title">Nome do Baralho</h5>
                            <table class="table table-sm text-center">
                                <thead>
                                    <tr class="card-text text-white font-weight-bolder ">
                                        <th scope="col">WINRATE</th>
                                        <th scope="col">MATCHES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-white">
                                        <td>80%</td>
                                        <td>10-2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="dados" class="btn btn-outline-info btn-sm btn-block"
                                type="submit">Dados</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img class="card-img opacity-card" src="../../assets/img/bl/img03.jpg" alt="Imagem do card">
                        <div class="card-img-overlay text-justify table-responsive">
                            <h5 class="card-title text-center text-title">Nome do Baralho</h5>
                            <table class="table table-sm text-center">
                                <thead>
                                    <tr class="card-text text-white font-weight-bolder ">
                                        <th scope="col">WINRATE</th>
                                        <th scope="col">MATCHES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-white">
                                        <td>80%</td>
                                        <td>10-2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button routerLink="dados" class="btn btn-outline-info btn-sm btn-block"
                                type="submit">Dados</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>