<html>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:  #012a4a;">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="../assets/img/logo.png" width="180" height="30" class="d-inline-block align-text-top">
        </a>
        <form *ngIf="baralho">
            <h4 class="font-smaller text-info text-center">{{baralho?.nome}}
                <h4 class="font-smaller text-light text-center">Formato: {{baralho?.formato}}</h4>
            </h4>
        </form>
    </div>
</nav>

<div class="bg-image">
    <div class="card-deck">
        <div class="container">
            <div class="row ">
                <div class="col-md-10 offset-1 mt-4">
                    <div class="card mt-2">
                        <canvas baseChart [datasets]="lineChartData " [labels]="lineChartLabels " [options]="lineChartOptions " [colors]="lineChartColors" [legend]="lineChartLegend " [chartType]="lineChartType " [plugins]="lineChartPlugins">
                            </canvas>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-10 offset-1 mt-4 ">
                    <div class="table-responsive-sm ">
                        <table class=" table table-sm table-bordered table-hover text-center col-sm-auto ">
                            <thead>
                                <tr class="font-weight-bolder table-info ">
                                    <th scope="col ">PARTIDA</th>
                                    <th scope="col ">WINRATE</th>
                                    <th scope="col ">RESULTADO</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let partida of partidas ">
                                <tr class="text-white ">
                                    <td> {{partida.ident}}</td>
                                    <td> {{getWinRate(partida)}} %</td>
                                    <td> {{partida.win}}-{{partida.loss}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-adicionar-partida></app-modal-adicionar-partida>

<app-modal-deletar-partida></app-modal-deletar-partida>