
.bg-image {
    background-image: url('../../assets/img/inicio_bg.jpg');
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

.opacity-jumbotron{
    text-align: center;
    background-color: rgba(1, 42, 74, 0.6);
}

.text-title{
    color: #ffffff; 
    text-shadow: 0 0 0.2em #A8DADC, 0 0 0.2em #A8DADC, 0 0 0.2em #87F#A8DADC;
    font-size: 2em;
}

.text-green{
    color: #A8DADC; 
    text-shadow: 0.1em 0.1em #333;
}

