.bg-image {
    background-image: url('../../assets/img/principal.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card {
    background-color: rgba(6, 47, 79, 0.5);
}

.card-deck {
    padding-top: 80px;
}

.text-title {
    color: #fdfdfd;
    font-size: x-large;
}

a:hover {
    text-decoration: none;
}