.bg {
    background-color: aliceblue;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card {
    background-color: #012a4a;
    border-radius: 10px;
}

.card-deck {
    padding-top: 80px;
    padding-left: 200px;
    margin: auto;
}

.card-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
}